.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

.App-header {
  /* background-color: #0f131a; */
  background-color: #0f131a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: "Garamond"; */
  /* justify-content: center; */
  font-size: calc(35px + 2vmin);
  color: #f0f0f0;
}

.navbar-brand {
  padding: 7px 20px;
  display: inline-block;
}

.navbar-brand:hover {
  padding: 7px 20px;
  display: inline-block;
  text-decoration:none;
}

.clock {
  display: inline;
  color: #f0f0f0;
  font-size: calc(20px + 2vmin);
  margin: 20px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:8px;
  padding-top:1px;
  position:relative;
  border: 5px dashed rgb(35, 104, 161);
}

.nftBorder {
  margin: 20px;
  padding-left:14px;
  padding-right:14px;
  padding-bottom:14px;
  padding-top:14px;
  position:relative;
  border: 5px dashed rgb(35, 104, 161);
}

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
